<!-- Show list of all beats. Is a partial for many pages. -->
<!-- list of beats -->

  <% @beats.each do |beat|%>

    <div id="beat">

      <h4><a href="/beats/<%= beat.id %>"><img class="minibutton" src="../images/bitter-logo-2.png" height="20px" width="20px"/></a><%= beat.user.username %> <a href="/users/<%= beat.user.id %>"><span id="at">@<%= beat.user.username %></span></a></h4>
      <h5><%= beat.content %></h5>
      <p><%= beat.created_at %></p>
      <% if beat.user == session[:user] %>
        <form action='/beats/<%= beat.id %>/edit' method='get'>
          <input type="submit" value='Edit'>
        </form>
        <form action='/beats/<%= beat.id %>' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input type="submit" value='Delete'>

        </form>

      <% end%>

    </div>

  <% end %>

